<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human)%></h1>
</div>
<%= simple_form_for [:admins, @user], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <div class='form-inputs'>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :father_name %>
    <%= f.input :phone_number %>
    <%= f.input :mobile_number %>
    <%= f.input :major %>
    <%= f.input :minor %>
    <%= f.input :birth_date %>
    <%= f.input :identification_number %>
    <%= f.input :student_identification_number %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admins_users_path, :class => 'btn' %>
  </div>
<% end %>
