<div class="page-header">
  <h1><%= @form.title %></h1>
</div>

<ul class="unstyled">
  <li><strong><%= Form.human_attribute_name(:enabled) %>:</strong>
  <%= t @form.enabled?.to_s %></li>
  <li><strong><%= Form.human_attribute_name(:description) %>:</strong>
  <%= content_tag :div, @form.description %></li>
</ul>

<%= render 'fields', form: @form %>

<h2><%= Form.human_attribute_name(:filled_forms) %></h2>
<%= link_to_admin_filled_fields %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
    admins_forms_path, :class => 'btn'  %>
  <%= link_to t('.edit_html', :default => t("helpers.links.edit_html")),
    edit_admins_form_path(@form), :class => 'btn' %>
  <%= link_to t('.destroy_html', :default => t("helpers.links.destroy_html")),
    admins_form_path(@form),
    method: 'delete',
    confirm: t('.confirm', default: t("helpers.links.confirm")),
    class: 'btn btn-danger' %>
</div>
