<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>
<%= content_tag_for :article, @forms do |form| %>
  <%= not_enabled_alert unless form.enabled? %>
  <h2><%= link_to form.title, form %></h2>
  <%= render 'form_filled_forms', form: form %>
  <%= link_to t('.view_details_html'), form, class: 'btn' %>
  <hr />
<% end %>
