<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>
<%= content_tag_for :article, @forms do |form| %>
  <h2><%= link_to form.title, form %></h2>
  <%= content_tag :div, form.description %>
  <%= render 'form_filled_forms', form: form %>
<% end %>
