<%- model_class = Form -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<p>
  <p>
    <strong><%= model_class.human_attribute_name(:title) %>:</strong>
    <%= @form.title %>
  </p>
  <p>
    <strong><%= model_class.human_attribute_name(:enabled) %>:</strong>
    <%= @form.enabled %>
  </p>
  <p>
    <strong><%= model_class.human_attribute_name(:description) %>:</strong>
    <%= @form.description %>
  </p>
</p>
<%= render 'form_filled_forms', form: @form %>

<div class="form-actions">
  <%= fill_new_btn @form %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
    forms_path, :class => 'btn'  %>
</div>
